.form-box {
    background-color: hsl(0, 4%, 80%);
    border-radius: 12px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px;
    
    /* background-color: gainsboro;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%; */
}

.title {
    display: flex;
}

.body {
    display: flex;
}

.btn1 {
    background-color: teal;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    height: 40px;
    width: 140px;
    margin-left: 20em;
    
}

.form .input-group {
    align-items: center;
    display: flex;
    gap: 20px;
}

.form .input-group1 .form-label {
    font-size: 16px;
    font-weight: 700;
}

.forms .input-group2 .form-label {
    font-size: 16px;
    font-weight: 700;
}

.forms .input-group .form-label {
    border: none;
    border-radius: 12px;
    height: 40px;
    padding: 0 12px;
    width: 240px;
}
   
